.cart {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 24px;
    border: 2px solid var(--main-color);
    border-radius: var(--radius) !important;
    width: auto !important;
}

.cart__header {
    display: flex;
    height: 3em;
    gap: 24px;
    align-items: center;
    background-color: var(--main-color);
}

.cart__item {
    display: flex;
    min-height: 1.5em;
    gap: 24px;
    align-items: center;
}

.cart__item:hover {
    background-color: var(--bg-color-tranparent);
}

.cart__item__link {
}

.cart__item__link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cart__item__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cart__header__number {
    flex-grow: 1;
    font-weight: bold !important;
    color: var(--main-bg-color) !important;
}

.cart__header__name {
    flex-grow: 4;
    font-weight: bold !important;
    color: var(--main-bg-color) !important;
}

.cart__header__amount {
    flex-grow: 2;
    font-weight: bold !important;
    color: var(--main-bg-color) !important;
}

.cart__header__price {
    flex-grow: 2;
    font-weight: bold !important;
    color: var(--main-bg-color) !important;
}

.cart__footer {
    display: flex;
    height: 3em;
    gap: 24px;
    align-items: center;
}

.cart__footer {
    text-align: right;
}

.cart__footer__price {
    flex-grow: 2;
    text-align: right;
    padding-right: 12px;
    font-weight: bold !important;
    font-size: 1.3em !important;
}

.cart__toolbar {
    gap: 12px;
    justify-content: center;
    padding: 24px;
}

.cart__empty {
    padding: 24px;
    display: flex;
}

.cart__page {
    min-height: calc(100vh - 64px);
}
